* {
    padding: 0px;
    margin: 0px;
    font-family: 'Libre Baskerville', serif;
    color: white;
}
html{
    overflow: hidden;
}
p,
h2,
.card h1,
img {
    text-shadow: 4px 3px 0 #0000009a;
}

body {
    background-color: black;
    /* overflow: hidden; */
}

#container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: sticky;
    justify-content: center;
}

.smallcontainer {
    flex-grow: 1;
    height: 100dvh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: sticky;
    cursor: pointer;
    opacity: 0.7;
}

#bgright {
    background: linear-gradient(180deg, rgb(0, 0, 0) 5%, rgba(255, 255, 255, 0) 24%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 6%, rgba(255, 255, 255, 0) 35%),
        linear-gradient(90deg, rgb(0, 0, 0) 8%, rgba(255, 255, 255, 0) 50%),
        url('assets/computer-program-coding-screen.jpg');
    transition: 2000ms;
}

#bgleft {
    background: linear-gradient(rgb(0, 0, 0) 5%, rgba(255, 255, 255, 0) 24%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 6%, rgba(255, 255, 255, 0) 35%),
        linear-gradient(270deg, rgb(0, 0, 0) 5%, rgba(255, 255, 255, 0) 24%),
        url('assets/IMG_0293.jpeg') -270px;
    transition: 2500ms;

}

#contact {
    width: 500px;
    color: white;
    position: absolute;
    text-align: center;
    margin: -250px;
    left: 48.5%;
    bottom: 30%;
    transition-delay: 2s;
    transition: 2000ms;
    opacity: 0.7;
    transform: translateY(0%);
}

#head {
    width: 100%;
    color: white;
    position: absolute;
    text-align: center;
    transition: 2000ms;
    transition-delay: 2s;
    align-self: center;
    transform: translateY(-2dvh);
}
#head p {
    animation: Pulse 1.3s ease 1.3s 1 normal forwards;
}

#menu {
    position: absolute;
    top: 60dvh;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 1000;
    height: 100%;
    width: 30%;
    overflow: unset;
    pointer-events: none;
}


#menuicon {
    position: relative;
    width: 3em;
    height: 3em;
    background-color: rgba(0, 0, 0);
    right: 0%;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    border-left:  2px solid rgb(177, 1, 168);
    border-top:  2px solid rgb(177, 1, 168);
    border-bottom:  2px solid rgb(177, 1, 168);
    transition: 500ms;
    pointer-events:all;
    display: flex;
    gap: 10%;
    flex-direction: column;
}

#menuicon p {
    color: white;
    text-shadow: none;
    opacity: 0;
    cursor: pointer;
    padding: 10%;
    margin-right: auto;
    pointer-events: none;
}

#menuicon p:hover{
    color: rgb(177, 1, 168);
    font-weight: 600;
}

.open {
    height: fit-content !important;
    width: 7em !important;
    opacity: 1 !important;
    pointer-events: none !important;
}

.open p {
    pointer-events: all !important;
    opacity: 1 !important;
}

#menuicon span {
    position: absolute;
    color: white;
    left: 5%;
    font-size: 3em;
    opacity: 1;
    transition: 200ms;
    pointer-events: none;
}

.open span {
    opacity: 0 !important;
}

.arrows p {
    font-size: 1.5em;
}
.arrows{
    text-align: center;
    position: absolute;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100%;
    word-spacing: 0;
}

#arrowup,#arrowdown{
    opacity: 0;
}
#arrowdown :nth-child(1),
#arrowup :nth-child(2) {
    font-size: 1em;
}

#arrowup {
    top: 1%;
}

#arrowdown {
    bottom: 1%;
} 


.homecard {
    background-color: rgba(112, 1, 107, 0.918);
    border-radius: 10px;
    position: fixed;
    width: 20dvw;
    transition: 2000ms;
    top: 65%;
    padding: 1em;
    opacity: 0;
    display: none;
}

.homecard p {
    margin: 1%;
}

#musiccard {
    left: 20%;
}

#codingcard {
    right: 20%;
}

.continue {
    position: fixed;
    transition: 2000ms;
    top: 55%;
    opacity: 0;
    display: none;
}

.continue h3 {
    color: #ffffffdc;
    text-shadow: -1px 4px 5px #000000,
        0 -4px 13px #000000,
        5px 5px 5px #000000,
        -2px 7px 14px #000000;
}

#bgleft .continue {
    left: 13%;
}

#bgright .continue {
    right: 13%;
}

#content {
    color: #ffffff;
    margin: unset;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.card {
    background-color: rgba(0, 0, 0, 0.877);
    border-radius: 10px;
    position:fixed;
    height: 97%;
    width: 97%;
    max-width: 1500px;
    transition: 2000ms;
    transition-delay: 2s;
    border: 1px solid rgb(177, 1, 168);
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: auto;
}

.card div {
    margin: 2%;
    display: flex;
    max-height: 100%;
    margin-top: 1%;
    flex-basis: 100%;
    justify-content: center;
}

.card div div {
    flex-direction: column;
    margin-bottom: 0;
    min-width: 40%;
}

#content :nth-child(2) div,
#content :nth-child(6) div {
    flex-direction: column;
}

#content :nth-child(2) div img,
#content :nth-child(6) div img{
    max-height: 75%;
    max-width: 100%;
}

#content :nth-child(2) div p,
#content :nth-child(2) div h1,#content :nth-child(6) div h1,#content :nth-child(6) div p {
    text-align: center;
}

#content :nth-child(4) div h1 {
    text-align: center;
    margin-top: 1%;
}

#content :nth-child(4) div p {
    margin: auto;
    margin-left: 0;
    text-align: start;
}

#content :nth-child(4) div {
    justify-content: unset;
}

.card div h1 {
    border-bottom: 1px solid rgb(177, 1, 168);
    max-width: 100%;
    margin: auto;
    text-align: start;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    color: rgb(255, 255, 255);
}

.card div p {
    text-align: start;
    width: 100%;
    margin: auto;
}

h1 {
    font-size: 45px;
}

h2 {
    margin: 1%;
}


p {
    font-size: 22px;
}

img {
    border-radius: 10px;
    margin: auto !important;
    max-height: 50%;
    max-width: max-content;
    display: flex;
    flex-shrink: 2;
}

.deskimg{
    display: none;
}
.mobileimg{
    display: flex;
}

.unselected {
    opacity: 0;
}

.selected {
    opacity: 0;
}

.scroll {
    overflow: unset;
}

.nohover {
    pointer-events: none;
}

.firstmoveup {
    transform: translateY(-100dvh);
}

.moveup {
    transition-delay: 0.2s;
    transform: translateY(-100dvh);
}

.moveoutup {
    transition-delay: 0.2s;
    transform: translateY(-300dvh);
    opacity: 0;
}

.movedown {
    transition-delay: 0s;
    transition: 0;
    transform: translateY(-300dvh);
    transition: 2000ms;
    transition-delay: 0.2s;
    transform: translateY(-100dvh);
}

.moveoutdown {
    transition-delay: 0.2s;
    transform: translateY(0);
}

.fadeout {
    animation: FadeOut 2s ease 0s 1 normal forwards;
    opacity: 0;
    /* display: none !important; */
}

.fadein {
    opacity: 1;
    animation: Fade 1s ease 4s 1 normal forwards;
}

.fadeinarrow {
    opacity: 0.6;
    animation: FadeArrow 1s ease 4s 1 normal forwards;
}

.contactentry {
    animation: SlideUp 1.3s ease 0s 1 normal forwards;
}

.contactexit {
    transition-delay: 2s !important;
    transform: translateY(-200%) !important;
    opacity: 0 !important;
}

@media screen and (min-width: 1500px) {

    #bgleft {
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%),
            linear-gradient(0deg, rgba(0, 0, 0, 1) 6%, rgba(255, 255, 255, 0) 35%), linear-gradient(270deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%), url('assets/IMG_0293.jpeg') -50px;
    }
}

@media screen and (min-width: 1250px) and (max-width:1499px) {
    #bgleft {
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%),
            linear-gradient(0deg, rgba(0, 0, 0, 1) 6%, rgba(255, 255, 255, 0) 35%), linear-gradient(270deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%), url('assets/IMG_0293.jpeg') -150px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1249px) {
    #bgleft {
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%),
            linear-gradient(0deg, rgba(0, 0, 0, 1) 6%, rgba(255, 255, 255, 0) 35%), linear-gradient(270deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%), url('assets/IMG_0293.jpeg') -250px;
    }
}

@media screen and (min-width: 600px) and (max-width: 999px) {
    #bgleft {
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%),
            linear-gradient(0deg, rgba(0, 0, 0, 1) 6%, rgba(255, 255, 255, 0) 35%), linear-gradient(270deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%), url('assets/IMG_0293.jpeg') -350px;

    }
}

@media screen and (max-width: 480px) and (max-width: 479px) {
    .smallcontainer {
        flex-basis: 100%;
        flex-wrap: 1;
        height: 50dvh;
    }

    #bgleft {
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%),
            linear-gradient(0deg, rgba(0, 0, 0, 1) 6%, rgba(255, 255, 255, 0) 35%), linear-gradient(270deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%), url('assets/IMG_0293.jpeg')30%;
    }
}

@media screen and (min-width: 900px) {
    #bgleft:hover #musiccard {
        display: inline;
        animation: Fade 1s ease 0s 1 normal forwards;
    }
    
    #bgright:hover #codingcard {
        display: inline;
        animation: Fade 1s ease 0s 1 normal forwards;
    }
    #bgleft:hover {
        flex-grow: 1.5;
        transform: scale(1.05);
        opacity: 1;
    }
    
    #bgright:hover {
        flex-grow: 1.5;
        transform: scale(1.05);
        opacity: 1;
    }
    #bgright:hover .continue {
        display: inline;
        animation: FadeBounce 4s ease 0s 1 normal forwards;
    }
    #bgleft:hover .continue {
        display: inline;
        animation: FadeBounce 4s ease 0s 1 normal forwards;
    }
    .homecard, .continue{
    display: inline;
    }
    img{
        height: fit-content;
        max-height: 100%;
    max-width: 40%;
    width: max-content;
    }
    .deskimg{
        display: flex;
    }
    .mobileimg{
        display: none;
    }
    .unselected {
        flex-grow: 0;
        opacity: 1;
    }
    
    .selected {
        flex-grow: 10;
        opacity: 1;
    }
    #head{
    margin-top: 0.7%;
    align-self: unset;
    transform: translateY(0);
    }
    .logoentry {
        animation: SlideDown 1.3s ease 0s 1 normal forwards;
    }
    .card{
        height: 85%
    }
    #menu{
        top:15dvh;
    }
}


@keyframes Fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes FadeArrow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

@keyframes FadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes Pulse {
    0% {
        font-size: 22px;
    }

    35% {
        font-size: 24px;
    }
}

@keyframes SlideDown {

    0%,
    60% {
        transform: translateY(-160%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes SlideUp {

    0%,
    60% {
        transform: translateY(160%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes FadeBounce {
    0% {
        opacity: 0;
    }

    20%,
    40% {
        opacity: 1;
    }

    70% {
        font-size: 20px;
    }

    80% {
        font-size: 20.8px;
    }

    100% {
        font-size: 20px;
        opacity: 1;
    }
}