* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
html{
    overflow: hidden;
}
p,
h2,
img {
    text-shadow: 4px 3px 0 #0000009a;
}
a:hover{
    color: rgb(177, 1, 168);
}
body {
    background-color: black;
    /* overflow: hidden; */
}

#container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: sticky;
    justify-content: center;
}

.smallcontainer {
    flex-grow: 1;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    cursor: pointer;
    opacity: 0.7;
    flex-wrap: 1;
    min-width: 400px;
    height: 50vh;
}

#bgright {
    background: linear-gradient(180deg, rgb(0, 0, 0) 5%, rgba(255, 255, 255, 0) 24%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 6%, rgba(255, 255, 255, 0) 35%),
        linear-gradient(90deg, rgb(0, 0, 0) 8%, rgba(255, 255, 255, 0) 50%),
        url('assets/computer-program-coding-screen.jpg');
    transition: 1000ms;
}

#bgleft {
    background: linear-gradient(rgb(0, 0, 0) 5%, rgba(255, 255, 255, 0) 24%),
        linear-gradient(0deg, rgba(0, 0, 0, 1) 6%, rgba(255, 255, 255, 0) 35%),
        linear-gradient(270deg, rgb(0, 0, 0) 5%, rgba(255, 255, 255, 0) 24%),
        url('assets/IMG_0293.jpeg') 40%;
    transition: 1000ms;

}

#head {
    width: 100%;
    color: white;
    position: absolute;
    text-align: center;
    transition: 1000ms;
    transition-delay: 2s;
    align-self: center;
    transform: translateY(-2vh);
}
#head p {
    /* animation: Pulse 1.3s ease 1.3s 1 normal forwards; */
}

#menu {
    position: fixed;
    top: 0vh;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 1000;
    height: 100%;
    width: 30%;
    overflow: unset;
    pointer-events: none;
}


#menuicon {
    position: relative;
    width: 3em;
    height: 3em;
    background-color: rgba(0, 0, 0);
    right: 0%;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    border-left:  2px solid rgb(177, 1, 168);
    border-top:  2px solid rgb(177, 1, 168);
    border-bottom:  2px solid rgb(177, 1, 168);
    transition: 500ms;
    pointer-events:all;
    display: flex;
    gap: 10%;
    flex-direction: column;
}

#menuicon p {
    color: white;
    text-shadow: none;
    opacity: 0;
    cursor: pointer;
    padding: 10%;
    margin-right: auto;
    pointer-events: none;
}

#menuicon p:hover{
    color: rgb(177, 1, 168);
    font-weight: 600;
}

.open {
    height: fit-content !important;
    width: 7em !important;
    opacity: 1 !important;
    pointer-events: none !important;
}

.open p {
    pointer-events: all !important;
    opacity: 1 !important;
}

#menuicon span {
    position: absolute;
    color: white;
    left: 5%;
    font-size: 3em;
    opacity: 1;
    transition: 200ms;
    pointer-events: none;
}

.open span {
    opacity: 0 !important;
}

.arrows p {
    font-size: 1.5em;
}
.arrows{
    text-align: center;
    position: absolute;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100%;
    word-spacing: 0;
}

.homecard {
    background-color: rgba(112, 1, 107, 0.918);
    border-radius: 10px;
    position: fixed;
    width: 20dvw;
    transition: 1000ms;
    top: 65%;
    padding: 1em;
    opacity: 0;
    display: none;
}

.homecard p {
    margin: 1%;
}

#musiccard {
    left: 20%;
}

#codingcard {
    right: 20%;
}

.continue {
    position: fixed;
    transition: 1000ms;
    top: 55%;
    opacity: 0;
    display: none;
}

.continue h3 {
    color: #ffffffdc;
    text-shadow: -1px 4px 5px #000000,
        0 -4px 13px #000000,
        5px 5px 5px #000000,
        -2px 7px 14px #000000;
}

#bgleft .continue {
    left: 13%;
}

#bgright .continue {
    right: 13%;
}

.content {
    color: #ffffff;
    margin: auto;
    /* max-width: 1500px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
}
.content div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    height: 85vh;
    text-align: center;
    min-width: 100%;
    flex-grow: 1;
}

.textblock div{
    /* background-color: rgba(255, 255, 255, 0.068); */
    border-radius: 10px;
}

h1 {
    font-size: 45px;
    color:rgb(177, 1, 168);
}

h2 {
    margin: 1%;
}


p {
    font-size: 22px;
}

img {
    border-radius: 10px;
    margin: auto !important;
    max-width: 90%;
    max-height: 80%;
}

.deskimg{
    display: none;
}
.mobileimg{
    display: flex;
}

.unselected {
    min-width: 0 !important;
    flex-grow: 0;
    opacity: 1;
}

.selected {
    flex-grow: 10;
    opacity: 1;
}

.scroll {
    overflow: unset !important;
}

.moveoutup {
    transition-delay: 0.2s;
    transform: translateY(-30vh) !important;
    opacity: 0;
}

.fadeout {
    animation: FadeOut 2s ease 0s 1 normal forwards;
    opacity: 0;
    /* display: none !important; */
}

.fadein {
    opacity: 1;
    animation: Fade 1s ease 4s 1 normal forwards;
}

.nohover{
    pointer-events: none;
}

#contact
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    min-height: 85vh;
    text-align: center;
}
.socials{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 0 !important;
    text-align: center;
}
.socials a{
    margin: 1%;
}
#contact h1,
#contact p,
#contact div
{
    margin: 2%;
    text-align: center;
    justify-content: center;
}
.dnone{
    display: none;
}
/* 
@media screen and (min-width: 1500px) {

    #bgleft {
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%),
            linear-gradient(0deg, rgba(0, 0, 0, 1) 6%, rgba(255, 255, 255, 0) 35%), linear-gradient(270deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%), url('assets/IMG_0293.jpeg') -50px;
    }
}

@media screen and (min-width: 1250px) and (max-width:1499px) {
    #bgleft {
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%),
            linear-gradient(0deg, rgba(0, 0, 0, 1) 6%, rgba(255, 255, 255, 0) 35%), linear-gradient(270deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%), url('assets/IMG_0293.jpeg') -150px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1249px) {
    #bgleft {
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%),
            linear-gradient(0deg, rgba(0, 0, 0, 1) 6%, rgba(255, 255, 255, 0) 35%), linear-gradient(270deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%), url('assets/IMG_0293.jpeg') -250px;
    }
}

@media screen and (min-width: 600px) and (max-width: 999px) {
    #bgleft {
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%),
            linear-gradient(0deg, rgba(0, 0, 0, 1) 6%, rgba(255, 255, 255, 0) 35%), linear-gradient(270deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%), url('assets/IMG_0293.jpeg') -350px;

    }
}

@media screen and (max-width: 480px) and (max-width: 479px) {
    #bgleft {
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%),
            linear-gradient(0deg, rgba(0, 0, 0, 1) 6%, rgba(255, 255, 255, 0) 35%), linear-gradient(270deg, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 24%), url('assets/IMG_0293.jpeg')30%;
    }
} */

@media screen and (min-width: 800px) {
    .smallcontainer
    {
        height: 100dvh;
    }
    #bgleft:hover #musiccard {
        display: inline;
        animation: Fade 1s ease 0s 1 normal forwards;
    }
    
    #bgright:hover #codingcard {
        display: inline;
        animation: Fade 1s ease 0s 1 normal forwards;
    }
    #bgleft:hover {
        flex-grow: 1.1;
        transform: scale(1.03);
        opacity: 1;
    }
    
    #bgright:hover {
        flex-grow: 1.1;
        transform: scale(1.03);
        opacity: 1;
    }
    #bgright:hover .continue, #bgleft:hover .continue {
        display: inline;
        animation: FadeBounce 4s ease 0s 1 normal forwards;
    }
    .homecard, .continue{
    display: inline;
    }
    .deskimg{
        display: flex;
    }
    .mobileimg{
        display: none;
    }
    #head{
    margin-top: 0.7%;
    align-self: unset;
    transform: translateY(0);
    }
    .logoentry {
        /* animation: SlideDown 1.3s ease 0s 1 normal forwards; */
    }
    #menu{
        top:15vh;
    }
    .content div{
    min-width: 500px !important;
    }
}


@keyframes Fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes FadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes Pulse {
    0% {
        font-size: 22px;
    }

    35% {
        font-size: 24px;
    }
}

@keyframes SlideDown {

    0%,
    60% {
        transform: translateY(-160%);
    }

    100% {
        transform: translateY(0%);
    }
}


@keyframes FadeBounce {
    0% {
        opacity: 0;
    }

    20%,
    40% {
        opacity: 1;
    }

    70% {
        font-size: 20px;
    }

    80% {
        font-size: 20.8px;
    }

    100% {
        font-size: 20px;
        opacity: 1;
    }
}